body {
    background-color: #0e2d4c;
}
.red {
    background-color: rgb(234, 230, 221);
    border-radius: 1em;
    padding: 0.5em;
}

.buttonIniciar {
    margin-top: 2em;
}

.arbol {
    width: 20%;
    height: 20%;
}

.hide {
    display: none;
}